<div class="mb-3">
  <i class="fa fa-arrow-left back-btn" [routerLink]="['../']"></i>
</div>
<form [formGroup]="addCategoryForm">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <label for="validationDefault01" class="form-label">First name</label>
      <input
        formControlName="categoryName"
        type="text"
        class="form-control"
        id="validationDefault01"
        required
      />
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row mt-4">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
      <button
        class="btn btn-primary submit-"
        type="submit"
        (click)="addCategory()"
      >
        Submit
      </button>
    </div>
    <div class="col-md-4"></div>
  </div>
</form>
