<div id="wrapper">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <h2>Logo</h2>
    </div>
    <ul class="sidebar-nav">
      <li>
        <a [routerLink]="['home']"><i class="fa fa-home"></i>Home</a>
      </li>
      <li>
        <a [routerLink]="['admin']"><i class="fa fa-user"></i>Admins</a>
      </li>
    </ul>
  </aside>

  <div id="navbar-wrapper">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a (click)="toggle()" class="navbar-brand" id="sidebar-toggle"
            ><i class="fa fa-bars"></i
          ></a>
        </div>
      </div>
    </nav>
  </div>

  <section id="content-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </section>
</div>
