<div class="container table-responsive py-5">
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Points</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let wallet of walletList">
        <th scope="row">{{ wallet.id }}</th>
        <td>{{ wallet.firstName }} {{ wallet.lastName }}</td>
        <td>
          {{ wallet.amount }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
