<div class="card">
  <div class="card-header">Profile</div>
  <div class="card-body">
    <div class="row mb-3">
      <div class="fw-bold col-12 col-md-3 mb-1">
        Name <span class="d-none d-md-block float-end">:</span>
      </div>
      <div class="col-12 col-md-9">Dummy Data</div>
    </div>
    <div class="row mb-3">
      <div class="fw-bold col-12 col-md-3 mb-1">
        Address <span class="d-none d-md-block float-end">:</span>
      </div>
      <div class="col-12 col-md-9">Dummy Data</div>
    </div>
    <div class="row mb-3">
      <div class="fw-bold col-12 col-md-3 mb-1">
        Phone <span class="d-none d-md-block float-end">:</span>
      </div>
      <div class="col-12 col-md-9">Dummy Data</div>
    </div>
    <div class="row mb-3">
      <div class="fw-bold col-12 col-md-3 mb-1">
        Email <span class="d-none d-md-block float-end">:</span>
      </div>
      <div class="col-12 col-md-9">Dummy Data</div>
    </div>
    <div class="row mb-3">
      <div class="fw-bold col-12 col-md-3 mb-1">
        Points <span class="d-none d-md-block float-end">:</span>
      </div>
      <div class="col-12 col-md-9">Dummy Data</div>
    </div>
  </div>
</div>
